:root {
    --radial-gradient: radial-gradient(circle at 18% 20%, rgb(203, 14, 168) -70%, rgb(23, 27, 29) 30%);
}

.bg-gradient {
    background-color: black;
    background-image: var(--radial-gradient) !important;
}

.bg-gradient-bottom-right {
    background-color: black;
    background: radial-gradient(circle at 78% 67%, rgb(203, 14, 168) -70%, rgb(23, 27, 29) 30%) !important;
}


.parallaxVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    filter: brightness(60%);
    object-fit: cover;
    z-index: -999;
}

.realizadores img {
    max-height: 150px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 40px 0;
    background: black;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 70px;
    margin: 0 40px;
}

.event {
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.event-date {
    flex-direction: column;
    margin: 20px;
    flex-shrink: 0;
}

.event-date .day {
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
}

.event-date .month {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
}

.event-info {
    flex: 1;
}

.event-title {
    font-size: 20px;
    font-weight: bold;
}

.event-time {
    color: #6a0dad;
    font-weight: bold;
}

.event-location {
    color: #ff1493;
    font-weight: bold;
}


.border-title-section {
    border-bottom: 10px solid #6a0dad;
    /* Adiciona um traço abaixo do título */
    display: inline-block;
    /* Garante que a borda cubra apenas o texto */
}


.item {
    margin-bottom: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #6a0dad;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin: auto;

}

.item h6 {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

.item p {
    color: #ff1493;
    margin-top: 1rem;

}

.footer {
    margin-top: 30px;
}

.footer p {
    font-size: 1.2rem;
}