.bg-gradient {
    background-color: black;
    background: radial-gradient(circle at 18% 20%, rgb(203, 14, 168) -70%, rgb(23, 27, 29) 30%) !important;
}

.bg-gradient-bottom-right {
    background-color: black;
    background: radial-gradient(circle at 78% 67%, rgb(203, 14, 168) -70%, rgb(23, 27, 29) 30%) !important;
}

.parallaxVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    filter: brightness(60%);
    object-fit: cover;
    z-index: -999;
}

.realizadores img {
    max-height: 150px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 40px 0;
    background: black;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 70px;
    margin: 0 40px;
}